<div class="backgroundImage">
    <div class="titlebtnposition">
<h1 class="mainTitle">Cinema Ironhack</h1>
<a href="/movies">
    <button class="btn btn-primary btn-lg button">Check the movies!</button>
</a>
    </div>
</div>



