body {
  position: relative;
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}
.titlebtnposition{
  margin-left: 900px;
  margin-top: 200px;
}
.backgroundImage {
  background-image: url("../images/cinema.jpg");
  background-position: center;
  background-size: 100%;
  background-repeat: no-repeat;
  min-height: 130%;
  min-width: 1024px;
  width: 100%;
  height: auto;
  position: fixed;
  top: 0;
  left: 0;
}
.mainTitle{
  color: white;
  font-size: 90px;
  font-weight: bold;
  margin-bottom: 50px;
}
.button {
  background-color: white;
  border-radius: 40px;
  color: #00B7FF;
  font-size: 14px;
  padding: 15px 20px 15px 20px
}